
Nato/data/local/dict/nonsilence_phones.txt

Nato/files

Nato/audio

Nato/data/lang/

Nato/data/local/dict/lexicon.txt

Nato/data/test/

Nato/data/train/

Nato/exp/

Nato/mfcc/

Nato/decode/mfcc/

Nato/data/local/lang/

Nato/data/local/corpus.txt

Nato/data/local/dict/lexiconp.txt

Nato/data/local/tmp/

Nato/decode/audio/

Nato/decode/log/

Nato/decode/result/

Nato/decode/wav/

Tools/Build/

*.user

*.stash

Tools/BaTool

*.debug

Tools/Makefile

*.wav

*.autosave

Tools/Resources/bar_result

Nato/HHM/

*.a

*.ark

Nato/input

Tools/BTool

Tools/bt2

Tools/g_c

Tools/Kaldi/final.oalimdl

Tools/Resources/global_cmvn.stats

*.stats

Tools/Scripts/prefs.js

Bato/

*.png

ENN/Build/.moc/

ENN/Build/.obj/

ENN/Sources/cereal/

ENN/Sources/third_party/

ENN/Sources/tiny_dnn/

ENN/ENN

ENN/Makefile

Tools/BTool_Dev

Tools/BTool_Stable

Tools/BTool2

Tools/graph1

Tools/graph2

Tools/graph3

Tools/graph4

ENN/t10k-images.idx3-ubyte

ENN/t10k-labels.idx1-ubyte

ENN/train-images.idx3-ubyte

ENN/train-labels.idx1-ubyte

ENN/ENN_simple

ENN/Models/

Tools/BaTool_Fast

Chess/Build/.moc/

Chess/Build/.obj/

Chess/Build/.rcc/

Chess/Chess

Chess/Makefile

Chess/chess_en

Tools/BaTool.conf

ENN/Models_Bak/

Tools/debug/

*.Release

Tools/release/

Tools/Model/

*.exe

Chess/release/

Mom/Build/

Mom/Makefile

Mom/Labels/

Tools/Scripts/Mom/Labels/

Tools/bar_result

Arbade/Makefile

Arbade/Build/

*.dll

*.qm

*.fst

*.oalimdl

*dll_gen.bat

*words.txt

Arbade/release/

Arbade/Arbade_resource.rc

Arbade/debug/
