
Nato/data/local/dict/nonsilence_phones.txt

Nato/files

Nato/audio

Nato/data/lang/

Nato/data/local/dict/lexicon.txt

Nato/data/test/

Nato/data/train/

Nato/exp/

Nato/steps/

Nato/mfcc/

Nato/decode/mfcc/

Nato/data/local/lang/

Nato/data/local/corpus.txt

Nato/data/local/dict/lexiconp.txt

Nato/data/local/tmp/

Nato/decode/audio/

Nato/decode/log/

Nato/decode/result/

Nato/decode/wav/

Tools/Build/

*.user

*.stash

Tools/BaTool

*.debug

Tools/Makefile

*.wav

*.autosave

Tools/Resources/bar_result

Nato/HHM/

*.a

*.ark
